# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Databases
*.db
*.sqlite3
workouts.db

# VS Code / IDEs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
